@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>We are hosting a party (Pssst! .. not a rave!), keen on joinin us ? on 31 DEC 2015?</h3>
        <p>Register with us to be a part of the fun</p>

        <br />
        @Html.ActionLink("Register here", "Register")
    </div>
</body>
</html>
