@{
   
}

<!DOCTYPE html>

<div class="row">
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h1>Its party time!</h1>
        <p>
            We are hosting a party (Pssst! .. not a rave!), keen on joining us ? on 31 DEC 2015?,Click below to register for the fun, More the merrier!
        </p>
        @Html.ActionLink("Register here", "Register")
    </div>
</div>