@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        @{
            if (ViewBag.IsComing ==true) {
                <p>Yo! thats more like it, the drinks are already in the fridge</p>
            }
            else {
                <p>Shame!.. We tell you , you are missing out on the fun, but nevertheless we are moving ahead</p>
            }
}
    </div>
</body>
</html>
