@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            @ViewBag.Greeting
        </p>
        <br />
        @Html.ActionLink("Cause soft drinks are for pussies", "RegisterMe")
    </div>
</body>
</html>
